body {
    width: 1536px;
    height: 100%;
    margin: 0;
    background-color: gray;
}

.Menu-Principal {
    width: auto;
    height: 108px;
    margin: 4px;
    background-color: white;
}

.Logo {
    width: 30%;
    padding: 6px;
    /* height: 48px; */
}

.Logo img {
    float: left;
    padding-right: 32px;

}

.Nome-do-site {
    background-color: aqua;
    float: left;
    margin-top: 6%;
    font-size: 24px;
}

.Simbolos_de_redes_sociais {
    width: 36%;
    float: right;
    height: 24px;
    padding-left: 0px;
}

.Simbolos_de_redes_sociais ul li {
    display: inline-block;
    float: left;
    list-style: none;
    /* width: 25%; */
    margin-left: 16px;
}

.Centro {
    margin-top: 3%;
    margin-left: 35%;
    margin-bottom: 3%;
    text-align: center;
    background-color: white;
    border-radius: 10%;
    height: 480px;
    width: 480px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.Barra-Login {
    height: 75%;
    padding-top: 60px;
    text-align: center;
}

.Barra-Login input {
    width: 240px;
    height: 32px;
    font-size: 16px;
    padding-left: 4px;
}

.Login {
    float: left;
    text-align: center;
    font-size: 16px;
    width: 240px;
    padding-left: 45px;
}

.Senha {
    float: left;
    text-align: center;
    font-size: 16px;
    width: 240px;
    /* margin-right: 12px; */
    padding-left: 48px;
}

.Show_PSW {
    font-size: 12px;
    padding-right: 100px;
    /* float: right; */
    margin-top: 24px;
    /* width: 120px; */
}

input.Checkbox_PSW {
    width: 12px;
    height: 12px;
}

h1 {
    /* height: 24px; */
}

h2 {
    /* padding-top: 0px;
    font-size: 16px;
    width: 120px; */
}

h3 {
    font-size: 12px;
    padding-left: 144px;
    margin-bottom: 48px;
}

.Button {
    background-color: #4065ba;
    border-bottom-color: #2e51a2;
    border-bottom-width: 1px;
    border-left-color: #6c8cd8;
    border-left-width: 1px;
    border-right-color: #2e51a2;
    border-right-width: 1px;
    border-style: solid;
    border-top-color: #6c8cd8;  /*O efeito de todas essas border-color é para simular um leve efeito 3D*/
    border-top-width: 1px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    width: 120px;
    margin-left: 180px;
    margin-top: 24px;
}

.line {
    width: 180px;
    height: 8px;
    border-bottom: gray 1px solid;
    margin-left: 150px;
    margin-bottom: 24px;
    margin-top: 16px;
}

.OR {
    background-color: white;
    width: 50px;
    margin-left: 65px;
}

.Comercial {
    text-align: center;
}