body {
    width: 1536px;
    height: 100%;
    margin: 0;
    background-color: gray;
}

.Menu-Principal {
    width: auto;
    height: 96px;
    margin: 4px;
    background-color: blueviolet;
}

.Nome-do-site {
    background-color: aqua;
}

.Centro {
    margin-top: 3%;
    margin-left: 35%;
    margin-bottom: 3%;
    text-align: center;
    background-color: white;
    border-radius: 10%;
    height: 480px;
    width: 480px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.Barra-Login {
    height: 75%;
    padding-top: 60px;
    text-align: center;
}

.Barra-Login input {
    width: 240px;
    height: 32px;
    font-size: 16px;
    padding-left: 4px;
}

h1 {
    /* height: 24px; */
}

h2 {
    padding-top: 0px;
}

h3 {
    font-size: 12px;
    padding-left: 144px;
}

.Button {
    background-color: #4065ba;
    border-bottom-color: #2e51a2;
    border-bottom-width: 1px;
    border-left-color: #6c8cd8;
    border-left-width: 1px;
    border-right-color: #2e51a2;
    border-right-width: 1px;
    border-style: solid;
    border-top-color: #6c8cd8;  /*O efeito de todas essas border-color é para simular um leve efeito 3D*/
    border-top-width: 1px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    width: 120px;
    margin-left: 180px;
    margin-top: 24px;
}

.line {
    width: 180px;
    height: 8px;
    border-bottom: gray 1px solid;
    margin-left: 150px;
    margin-bottom: 24px;
    margin-top: 16px;
}

.OR {
    background-color: white;
    width: 50px;
    margin-left: 65px;
}

.Comercial {
    text-align: center;
}